body {
  padding: 0;
  width: 100%;  
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
    font-family: 'Poppins', sans-serif !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
